<launch>
    <rosparam file="/home/chihung/multi-task-refinenet/ros/parmas/octomap_generator.yaml" command="load"/>
    <node pkg="octomap_generator" type="octomap_generator" name="octomap_generator" output="screen"/>

    <node pkg="tf" type="static_transform_publisher" name="semantic_pcd_tf" 
    args="0 0 0 -1 1 -1 1 camera_link semantic_pcd_frame 10" />
    <!-- <node pkg="tf" type="static_transform_publisher" name="semantic_pcd_tf" 
    args="0 0 0 0 0 0 camera_link semantic_pcd_frame 10" /> -->
    
    <rosparam file="/home/chihung/multi-task-refinenet/ros/parmas/semantic_cloud.yaml" command="load"/>
    <node pkg="semantic_cloud" type="semantic_cloud.py" name="semantic_cloud" output="screen"/>
</launch>